@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body{
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*.form input {*/
    /*outline: 0;*/
    /*background: #f2f2f2;*/
    /*width: 100%;*/
    /*border: 0;*/
    /*margin: 0 0 15px;*/
    /*padding: 15px;*/
    /*box-sizing: border-box;*/
    /*font-size: 14px;*/
/*}*/

a{
    color: #17a2b8;
}
a:hover{
    color: #118092;
}
.nomp{
    margin: 0px!important;
    padding: 0px!important;
}

.link-block{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.diagnose-form{
    margin-top: 20px;
}

.link{
    padding-left: 10px;
    padding-right: 10px;
}
.input-group{
    margin-top: 5px;
    margin-bottom: 5px;
}
.inline-form {
    display: inline;
}
.strike{
    text-decoration: line-through;
}
.execute{
    color: #ffc71f;
}

.execute:hover{
    color: #ffc107;
}
